.main_parent {
  width: 85%;
  /* max-width: 1440px; */
  margin: auto;
  /* margin-top: -86px; */

}
.main_parent3{
  width: 85%;
  /* max-width: 1440px; */
  margin: auto;
  margin-top:155px;
}
.vector{
  position: absolute !important;
  width:30% !important;
  margin-top:138px !important;
  right:0;
}
@media screen and (max-width: 900px) {
  .vector { 
    position: absolute !important ;
    width:66% !important;
    margin-top:-47px !important;
  }
}
@media screen and (max-width: 900px) {
  .css-2li2te { 
    display: flex !important;
    flex-direction: column !important;
    padding: 29px;
    min-width: 0px !important;
    border-radius: 38px !important;
  }
}

.main_parent_1 {
  width: 80%;
  max-width: 1440px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 50px;
}
.headerImage {
  width: 100%;
  float: right;
}
.headerImage2 {
  width: 90%;
  float: left;
}
.row-content-text{
  font-family: 'Roboto Mono' !important;
}
.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #2c3e50; */
  z-index: 0;
  transform: skewY(15deg);
  transform-origin: top right;
}
.image3{
  position:absolute !important;
  margin-top: -140px !important;
  margin-left: -64px !important;
  width: 10% !important;
}
@media screen and (max-width: 1240px) {
  .image3{
    position:absolute !important;
  margin-top: -115px !important;
  margin-left: -41px !important;
  width: 10% !important
  }
}
@media screen and (max-width: 900px) {
  .image3{
    position:absolute !important;
  margin-top: -150px !important;
  margin-left: -41px !important;
  width: 22% !important
  }
}
@media screen and (max-width: 700px) {
  .image3{
    position:absolute !important;
  margin-top: -120px !important;
  margin-left: -50px !important;
  /* width: 22% !important; */
  }
}
@media screen and (max-width: 500px) {
  .image3{
    position:absolute !important;
  margin-top: -80px !important;
  margin-left: -41px !important;
  width: 22% !important;
  }
}
.image4{
  position:absolute;
  margin-top: -297px;
  margin-left: 10 vpx !important;
  width: 10% !important;
}
@media screen and (max-width: 900px) {
  .image4{
    position:absolute !important;
    margin-left: -15px !important;
  width: 22% !important;
  }
}
.image5{
  position:absolute;
  right: 0;
  width: 10%;
  margin-top: 270px;
}
@media screen and (max-width: 900px) {
  .image5{
    position:absolute !important;
 margin-right: -24px;
  width: 22% !important;
  }
}
.detail1 {
  font-family: New York Extra Large !important;
  font-style: normal !important;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 28px !important;
  /* identical to box height, or 175% */
 padding-bottom: 8px !important;
  letter-spacing: 9.5px !important;
  text-transform: uppercase !important;

  color: #ffffff;
}
.heading1 {
  font-family: New York Extra Large !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 36px !important;
  line-height: 52px !important;
  width: 90% !important;
  /* or 113% */
padding-bottom: 31px !important;
  color: #ffffff !important;
}
.main {
  width: 500px;
  height: 350px;
  background-color: #1e2231 !important;
  border-color: #EEE;
  border-radius: 10px !important;
  border-width: 2px !important;

  display: grid !important;
  justify-content: center !important;
  align-content: center !important;
}

.main > * {
  grid-column: 1 !important;
  grid-row: 1;
}

/* .theSmiley {
  width: 50px !important;
  height: 50px !important;
}
 */
.orange img {
  width: 50px !important;
  display: block !important;
  margin: 0 auto !important;
  margin-top: 50px !important;
}

.item {
  animation: spinAround 15s linear infinite;
}

.imgs {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinAround {
  from {
    transform: rotate(0deg) translate(140px) scale(.7);
  }
  to {
    transform: rotate(360deg) translate(140px) scale(.7);
  }
}
.detail2 {
  font-family: 'Roboto Mono' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 28px !important;
  /* or 175% */
  width: 72% !important;
padding-bottom: 50px !important;
  color: #ffffff !important;
}
.buttondetails1 {
  border-radius: 66px !important;
  font-family: New York Extra Large !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;
  /* identical to box height, or 120% */
  text-transform: none !important;
  background-color: #ffffff !important;
  color: #000000 !important;
  padding: 8.3px 24px !important;
}
.buttondetails2 {
  border-radius: 66px !important;
  font-family: New York Extra Large !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;
  /* identical to box height, or 120% */
  text-transform: none !important;
  border-color: #ffffff !important;
  color: #fff !important;
  padding: 8.3px 24px !important;
}
.buttonbox {
  display: flex !important;
  width: 65% !important;
  

}
.buttondetails1:hover {
  background-color: #ffffff !important;
}
.section2_heading2{
  font-family: New York Extra Large !important;
font-style: normal !important;
font-weight: 800 !important;
font-size: 40px !important;
line-height: 52px !important;
/* identical to box height, or 130% */
padding-bottom: 35px !important;

color: #000000 !important;

}
.section2_details{
  font-family: 'Roboto Mono' !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 20px !important;
line-height: 28px !important;
/* or 140% */
width: 85% !important;
padding-bottom: 40px !important;
color: #000000 !important;
}
@media screen and (max-width: 900px) {
  .section2_details{
width: 100% !important;
  }
}
.section2_details4{
  font-family: 'Roboto Mono' !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 20px !important;
line-height: 28px !important;
/* or 140% */
width: 90% !important;
padding-bottom: 6px !important;
color: #000000 !important;
}
.section2_details2{
  font-family: 'Roboto Mono' !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 20px !important;
line-height: 28px !important;
/* or 140% */
width: 85% !important;
padding-bottom: 8px !important;
color: #fff !important;
}
.dates_details{
  font-family: 'Roboto Mono' !important;
font-style: normal !important;
font-weight: bold !important;
font-size: 25px !important;
line-height: 33px !important;
text-align: center !important;

color: #FFFFFF !important;
}
.grid_box{
  display:flex !important;
  flex-direction:column !important;
  justify-content:center !important;
  border-right:1px solid gray !important;
  text-align:center !important;
  align-items:center !important;
  padding-bottom: 0px;
}
@media screen and (max-width: 900px) {
  .grid_box{
    border-bottom:1px solid gray !important;
    border-right:0px !important;
    padding-bottom: 12px !important;
  }
}
.main_section3{
  background:#2C2C2C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  padding: 61px !important;
  border-radius: 60px !important;
}
@media screen and (max-width: 900px) {
  .main_section3{
    padding-left: 17px !important;
    border-radius: 30px !important;
    padding-right: 0px !important;
  }
}

.section5{
  font-family: 'Roboto Mono' !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 18px !important;
line-height: 25px !important;
/* or 125% */
width: 80% !important;

color: #000000 !important;
}
@media screen and (max-width: 900px) {
  .section5{
    width: 100% !important;
  }
}
.section5_2{
  font-family: 'Roboto Mono' !important;
font-style: normal !important;
font-weight: bold !important;
font-size: 20px !important;
line-height: 25px !important;
background-color: black !important;
color: #FFFFFF !important;
padding: 50px !important;
border-radius: 66px !important;
/* or 125% */
}
@media screen and (max-width: 900px) {
  .section5_2{
    padding: 30px 15px !important;
    border-radius: 20px !important;
  }
}

.testimonial{
  background: #FFFFFF !important;
border: 3px solid #000000 !important;
padding: 45px !important;
padding-bottom: 8px !important;
text-align: center !important;
border-radius: 83px !important;

}
.testimonial_description{
  font-family: 'Roboto Mono' !important;
font-style: normal !important;
padding-bottom: 15px !important;
font-weight: normal !important;
font-size: 20px !important;
line-height: 26px !important;
display: flex !important;
align-items: center !important;
text-align: center !important;
}
.testimonial_names{
  font-family: New York Extra Large !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 20px !important;
line-height: 24px !important;
/* identical to box height */
padding-top: 15px !important;
align-items: center !important;
text-align: center !important;
}
.testimonial_subname{
  font-family: 'Roboto Mono' !important;
font-style: normal !important;
font-weight: normal !important;
font-size: 16px !important;
line-height: 21px !important;

align-items: center !important;
text-align: center !important;

color: #000000 !important;
}
.icon5{
  font-family: 'Roboto Mono' !important;
font-style: normal !important;
font-size: 20px !important;
line-height: 25px !important;
/* or 125% */

display: flex !important;
align-items: center !important;
}
.section6{
  font-family: 'Roboto Mono' !important;
font-style: normal !important;
font-weight: normal !important;
width: 34% !important;
margin: auto !important;
font-size: 20px !important;
margin-bottom: 70px !important;
line-height: 26px !important;
display: flex !important;
align-items: center !important;
text-align: center !important;
}
@media screen and (max-width: 1100px) {
  .section6{
    width: 89% !important;
    margin-bottom: 20px !important;
   
  }
}
.section5_details{
  width: 80% !important;
  margin: auto !important;
  text-align: initial !important;
  padding-top: 50px !important;
}
@media screen and (max-width: 900px) {
  .section5_details{
    width: 89% !important;
    padding-top: 20px !important;
  }
}

.section8{

  flex-direction: column !important;
  /* justify-content: center; */
  display: flex !important;
  text-align: center !important;
  border: 3px solid #2C2C2C !important;
  justify-content: center !important;
padding-top: 75px !important;
padding-bottom: 75px !important;
width: 85% !important;
position: absolute !important;
margin-top: -151px !important;
background: #FFFFFF !important;
border-radius: 83px !important;
}
.section8_heading2{
  font-family: New York Extra Large !important;
font-style: normal !important;
font-weight: 800 !important;
font-size: 36px !important;
margin: auto !important;
width: 40% !important;
line-height: 40px !important;
margin-bottom: 25px !important;
/* or 113% */

text-align: center !important;
}
@media screen and (max-width: 900px) {
  .section8_heading2{
    width: 83% !important;
    
  }
}

.makeStyles-root-1 {overflow: initial !important;}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c {
  background: #ffffff !important;
 
border: 3px solid #2C2C2C !important;
box-sizing: border-box !important;
border-radius: 32px !important;
  padding: 30px !important;
  margin-bottom: 25px !important;
  border-radius: 32px !important;
}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY.styles_expanded__3elPy .styles_icon-wrapper__2cftw{
  transform: rotate(150deg) !important;
}
.styles_faq-row-wrapper__3vA1D
  .styles_row-body__1NvUo
  .styles_faq-row__2YF3c
  .styles_row-title__1YiiY
  .styles_icon-wrapper__2cftw {
  top: 45px !important;
  right: 49px !important;

}
.styles_faq-row-wrapper__3vA1D
  .styles_row-body__1NvUo
  .styles_faq-row__2YF3c
  .styles_row-title__1YiiY {
  font-family: New York Extra Large !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 22px !important;
  line-height: 30px !important;
}
.styles_faq-row-wrapper__3vA1D
  .styles_row-body__1NvUo
  .styles_faq-row__2YF3c
  .styles_row-content__QOGZd
  .styles_row-content-text__2sgA {
  font-family: 'Roboto Mono' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 26px !important;
  display: flex !important;
  align-items: center !important;
}
.css-kfhwi9 {
  margin: 0px !important;
}
@media screen and (max-width: 900px) {
  .TabUnstyled-root{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}
@media screen and (max-width: 900px) {
  .TabPanelUnstyled-root{
    padding: 25px 0px !important;
  }
}

.logo2{
  width: 35% !important;
}
@media screen and (max-width: 900px) {
  .logo2{
    width: 65% !important;
  }
}
.logo3{
  width: 55% !important;
}
@media screen and (max-width: 900px) {
  .logo3{
    width: 95% !important;
  }
}
.forms{
  background: #FFFFFF;
  padding: 10px !important;
border: 3px solid #000000 !important;
/* box-sizing: border-box; */
margin-bottom: 30px !important;
border-radius: 16px !important;
}
.forms2{
  background: #FFFFFF;

border: 3px solid #000000 !important;
/* box-sizing: border-box; */
margin-bottom: 30px !important;
border-radius: 16px !important;
}
.MuiMobileStepper-root{
  justify-content: center !important;
}
.MuiMobileStepper-dot{
  width: 16px !important;
  height: 16px !important;
}
.MuiMobileStepper-dotActive{
  background-color: #000000 !important ;
}
.MuiDialogTitle-root{
  padding-top: 34px !important;

}
.MuiDialog-paper{
  max-width: 800px !important;
  width: 100%;
  border-radius:24px !important;
}
.MuiDialogContentText-root{
  display: flex;
  justify-content: center;
}
